# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# PostgreSQL / database secrets
.streamlit/secrets.toml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db